@model Hospital.PL.Helpers.empsPageReuslt

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" class="row">
    <!-- Search Input -->
    <div class="form-group col-md-4">
        <label for="search">Search</label>
        <input type="text" asp-for="search" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by Name" />
    </div>

    <!-- Role Dropdown -->
    <div class="form-group col-md-4">
        <label class="col-form-label" asp-for="roleName">Role</label>
        <select class="form-control overflow-scroll" asp-items="@ViewBag.Roles" asp-for="roleName" required>
        </select>
    </div>

    <!-- Department Dropdown -->
    <div class="form-group col-md-4">
        <label class="col-form-label" asp-for="departmentId">Deparment</label>
        <select class="form-control overflow-scroll" asp-items="@ViewBag.Departments" asp-for="departmentId">
            <option value="null">------ Select Department ------</option>
        </select>
    </div>

    
    <button type="submit" class="btn btn-primary mt-3">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th>
                Specialization
            </th>
            <th>
                Department
            </th>
            <th>
                Pharmacy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pharmacy.Pharmacy_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<div>


    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItems"
              cs-pagenumber-param="pageNumber"
              asp-controller="Employees"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>
