@model Hospital.PL.Areas.Admin.Models.DepartmentVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DepartmentVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-3">
            Department Name
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Department_Name)
        </dd>
        <dt class = "col-sm-3">
            Hospital Name
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Hospital.Hospital_Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
