@model Hospital.PL.Helpers.PagedReuslt<Hospital.DAL.Entites.HospitalEntity>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hospitals List</h1>

<p>
    <a asp-area="Admin" asp-controller="Hospitals" asp-action="Create">Create New</a>
</p>
<!-- Search Form -->
<form asp-action="Index" method="get">
    <div class="form-group mb-3">
        <input type="text" name="Search" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by Name or Address" />
    </div>
    <input type="submit" value="Search" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Reset</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                State
            </th>
            <th>
                Zip Code
            </th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_Phone_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip_Code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<div>


    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItems"
              cs-pagenumber-param="pageNumber"
              asp-controller="Hospitals"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>
